*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins' , sans-serif;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
}
h1{
  text-align: center;
  margin: 100px auto 50px;
  font-weight: 600;
}
form{
  width: 90%;
  max-width: 600px;
  margin: auto;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
form input{
  flex: 1;
  height: 100%;
  border: 0;
  outline: 0;
  background: transparent !important;
  color: rgb(26, 26, 26);
  font-size: 18px;
  padding: 0 30px;
}
form button{
  padding: 0 40px;
  height: 100%;
  background: rgb(209, 176, 136);
  color: black;
  border-radius:  0px 20px 20px 0px;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 18px;
}
::placeholder{
  color: black;
  font-size: 18px;
}
#show-more-btn{
  background: rgb(209, 176, 136);
  color: black;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 10px auto 100px;
  cursor: pointer;
  display: none;
}
#search-result{
  width: 80%;
  margin:  100px auto 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
#search-result img{
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0) ;
}

@media (max-width: 768px) {
  form{
    width: 100%;
    max-width: 600px;
    margin: auto;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
  }
  form button{
    padding: 0 30px;
    height: 100%;
    background: rgb(209, 176, 136);
    color: black;
    border-radius:  0px 20px 20px 0px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
  }
  .header h1{
    text-align: center;
    margin: 100px auto 30px;
    font-weight: 600;
  }
  #search-result{
    width: 80%;
    margin:  100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }
  #search-result img{
    width: 140%;
    height: 200px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0) ;
  }
}
